{% extends "./_includes/layouts/base.njk" %}

{% block content %}
    <section>
        <h3>What's all this about?</h3>

        <p>
            This project is a curated list of websites that host a links page or section containing links to other websites the webmaster likes and wants to share. In the world of blogging these sections are called "blogrolls" and typically placed in the sidebar. They aren't as popular today and I wanted to collect a list of websites that still play host to them as I find them to be gold mines of serendipitous discovery.
        </p>

        <h3>How do I join?</h3>

        <p>
            Use the <a href="https://github.com/photogabble/hyperlink-cafe/issues/new/choose">add a link</a> issue template on the GitHub Repository or alternatively get in touch via Mastodon <a href="https://notacult.social/@carbontwelve">@carbontwelve@notacult.social</a>. All submissions are checked before being added.
        </p>
    </section>

    <section>
        <h3>Members</h3>
        <ul>
        {% for id, link in links %}
            <li>
                <h2><a href="{{ link.url }}" title="Visit {{ link.title }}">{{ link.title }}</a></h2>
                <small><a href="{{ link.url }}" title="Visit {{ link.title }}">{{ link.url }}</a></small>
                <p>{{ link.description }}</p>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}