<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperlink Cafe</title>
    <style>
        body {
            height: 100%;
            background-color: #1d1f21;
            color: #c9cacc;
            margin: 0;
            padding: 0;
            font-family: monospace;
            font-size: 14px;
            line-height: 1.725;
            text-rendering: geometricPrecision;
        }

        a {
            color: #acacac;
        }

        main {
            max-width: 72rem;
            padding-right: 2rem;
            padding-left: 2rem;
            margin: 0 auto;
        }

        header{
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

        header h1, header h2 {
            margin: 0;
        }

        h1{
            font-size: 3rem;
            color: #2bbc8a;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        section{
            margin-bottom: 3rem;
        }

        section h2 {
            margin: 0
        }
        section small {
            color: #666;
        }

        section p:last-child {
            margin-bottom: 0
        }

        .list div {
            border: 3px double #666;
            padding: 1rem;
            margin-bottom: 0;
        }
        .list div:hover a{
            transition:350ms;
        }
        .list div:hover a {
            color: #2bbc8a;
        }

        footer{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            margin-bottom: 2rem;
            color: #666;
            font-size: 0.8rem;
        }

        footer section:first-child{
            align-self: flex-start;
            margin-right: 2rem;
        }

        footer section:last-child{
            align-self: end;
        }
    </style>
</head>
<body>

<main>
    <header>
        <h1>the hyperlink cafe</h1>
        <h2>A curated list of websites that have a links page akin to the blogrolls of old.</h2>
    </header>

    <section>
        <h3>Whats all this about?</h3>

        <p>
            blah blah blah...
        </p>

        <h3>How do I join?</h3>

        <p>
            blah blah blah...
        </p>
    </section>

    <section class="list">
        {% for id, link in links %}
            <div>
                <h2><a href="{{ link.url }}" title="Visit {{ link.title }}">{{ link.title }}</a></h2>
                <small><a href="{{ link.url }}" title="Visit {{ link.title }}">{{ link.url }}</a></small>
                <p>{{ link.description }}</p>
            </div>
        {% endfor %}
    </section>

    <footer>
        <section>
            Made by <a href="https://www.photogabble.co.uk" title="Visit Simons Digital Garden">Simon</a> with <a href="https://www.11ty.dev/" title="Visit the home page of the 11ty static site generator">Eleventy.js</a> | Source on <a href="https://github.com/photogabble/hyperlink-cafe" title="Visit the source repository for hyperlink.cafe">GitHub</a>. Add yourself!
        </section>
        <section><a href="/colophon">Colophon</a> | <a href="/not-invented-here">Not Invented Here</a> | <a href="/changelog">Changelog</a></section>
    </footer>
</main>

</body>